---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog";
---


<BaseLayout pageTitle={pageTitle}>
	<a href="/posts/post-1">An Extremely Specific Puzzle About Coin Flipping</a>
</BaseLayout>

