---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Yay</title>
	</head>
	<body>
		<Navigation />


		<h1>Astro Yay: this is the blof</h1>
        <a href="/posts/post-1">Post</a>

	</body>
</html>
